<!--PC版-->
<div id="SOHUCS" sid="{{ site.url }}{{ page.url }}"></div>
<!-- <script charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/changyan.js" ></script>
<script type="text/javascript">
window.changyan.api.config({
appid: 'cytJFW4oc',
conf: ''
});
//prod_923e3bc328d4727e08f1ab19b89b1e9e
</script>
 -->

<!--[if !IE]> -->
  {% comment %} <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
  <script src="/js/gitalk.min.js"></script> {% endcomment %}
  <link rel="stylesheet" href="http://cdn.bootcss.com/gitalk/1.5.0/gitalk.min.css"/>
  <script src="http://cdn.bootcss.com/gitalk/1.5.0/gitalk.min.js"></script>
  <script src="/js/md5.min.js"></script>

<div id="gitalk-container"></div>

<script>
var gitalk = new Gitalk({
  clientID: '954dc82b499fa7258a5f',
  clientSecret: '47782145291a965e81ee763682547d7a104b432b',
  repo: 'xsj34567.github.io',
  owner: 'xsj34567',
  admin: ['xsj34567'],
  id: md5(location.pathname),      // 用于标记评论是哪个页面的，确保唯一，并且长度小于50
  title: document.title,
  body:  '文章链接：'+ decodeURIComponent(location.origin+location.pathname),
  //id: '{{ page.id }}',      // Ensure uniqueness and length less than 50
  perPage: 10,
  distractionFreeMode: true  // Facebook-like distraction free mode
})
gitalk.render('gitalk-container')
</script>
<!-- <![endif]-->

{% comment %} <div id="gitmentContainer"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
var gitment = new Gitment({
    owner: 'xsj34567',
    repo: 'xsj34567.github.io',
    oauth: {
        client_id: '954dc82b499fa7258a5f',
        client_secret: '47782145291a965e81ee763682547d7a104b432b',
    },
});
gitment.render('gitmentContainer');
</script> {% endcomment %}